.textfieldMainDesign {
    width: 400px;
    margin: 10px !important;
    position: relative !important;
}

.mainContainer {
    font-family: sans-serif;
    text-align: center;
}

.radioContainer {
    width: 400px;
    position: relative;
    left: 35%;
}
