################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet/CompagnyTools/.vs
/Projet/CompagnyTools/CompagnyTools/appsettings.json
/Projet/CompagnyTools/CompagnyTools/appsettings.Development.json
/Projet/CompagnyTools/DAL/bin/Debug/net6.0
/Projet/CompagnyTools/DAL/obj
/Projet/CompagnyTools/DAL/appsettings.json
/Projet/CompagnyTools/DAL/appsettings.Development.json
/.vs
/Projet/Braze/SegmentBackendVS/src/SegmentBackend/obj
/Projet/Braze/SegmentBackendVS/src/SegmentBackend/Properties
/Projet/Grafana/obj
/Projet/.vs
/Projet/Braze/SegmentSuite/src/SegmentBackend/obj
/Projet/Braze/SegmentSuite/src/SegmentBackend/Properties
/Projet/PursuitSim/PursuitSim/.vs
/Projet/PursuitSim/PursuitSim/obj
/Projet/Braze/SegmentSuite/.vs
/Projet/Braze/SegmentSuite/src/SegmentBackend/bin/Debug/net8.0
/Projet/Braze/SegmentSuite/tests/SegmentBackend.Tests/obj
/Projet/Braze/SegmentSuite/tests/SegmentBackend.Tests/bin/Debug/net8.0
/Projet/CompagnyTools/CompagnyTools/ClientApp/package-lock.json
/Projet/PursuitSim/PursuitSim/bin/Debug/net8.0
/Projet/Braze/SegmentPOC/.vs
/Projet/Braze/SegmentPOC/src/SegmentBackend/bin/Debug/net8.0
/Projet/Braze/SegmentPOC/src/SegmentBackend/obj
/Projet/Braze/SegmentPOC/src/SegmentBackend/Properties
/Projet/Braze/SegmentPOC/tests/SegmentBackend.Tests/bin/Debug/net8.0
/Projet/Braze/SegmentPOC/tests/SegmentBackend.Tests/obj
/MSK_POC/.vs
/MSK_POC/NotificationService/obj
/MSK_POC/SegmentBackend/obj
/Projet/Braze/MSK_POC/.vs
/Projet/Braze/MSK_POC/NotificationService/obj
/Projet/Braze/MSK_POC/SegmentBackend/obj
