################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################


/.vs











/PursuitSim/PursuitSim_v2/.vs
/PursuitSim/PursuitSim_v2/PursuitSim_v2.Console/bin/Debug/net9.0
/PursuitSim/.vs
/PursuitSim/PursuitSim_v2/PursuitSim_v2.Console/obj
/PursuitSim/PursuitSim_v2/PursuitSim_v2.Core/bin/Debug/net9.0
/PursuitSim/PursuitSim_v2/PursuitSim_v2.Core/obj
/PursuitSim/PursuitSim_v2/PursuitSim_v2.Web/bin/Debug/net9.0
/PursuitSim/PursuitSim_v2/PursuitSim_v2.Web/obj
/PursuitSim/PursuitSim_v2/PursuitSim_v2.Web/out
