################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet/CompagnyTools/.vs
/Projet/CompagnyTools/CompagnyTools/appsettings.json
/Projet/CompagnyTools/CompagnyTools/appsettings.Development.json
/Projet/CompagnyTools/DAL/bin/Debug/net6.0
/Projet/CompagnyTools/DAL/obj
/Projet/CompagnyTools/DAL/appsettings.json
/Projet/CompagnyTools/DAL/appsettings.Development.json
/.vs
/Projet/Braze/SegmentBackendVS/src/SegmentBackend/obj
/Projet/Braze/SegmentBackendVS/src/SegmentBackend/Properties
/Projet/Grafana/obj
/Projet/.vs
/Projet/Braze/SegmentSuite/src/SegmentBackend/obj
/Projet/Braze/SegmentSuite/src/SegmentBackend/Properties
/Projet/PursuitSim/PursuitSim/.vs
/Projet/PursuitSim/PursuitSim/obj
/Projet/Braze/SegmentSuite/.vs
/Projet/Braze/SegmentSuite/src/SegmentBackend/bin/Debug/net8.0
/Projet/Braze/SegmentSuite/tests/SegmentBackend.Tests/obj
/Projet/Braze/SegmentSuite/tests/SegmentBackend.Tests/bin/Debug/net8.0
/Projet/CompagnyTools/CompagnyTools/ClientApp/package-lock.json
/Projet/PursuitSim/PursuitSim/bin/Debug/net8.0
/Projet/Braze/SegmentPOC/.vs
/Projet/Braze/SegmentPOC/src/SegmentBackend/bin/Debug/net8.0
/Projet/Braze/SegmentPOC/src/SegmentBackend/obj
/Projet/Braze/SegmentPOC/src/SegmentBackend/Properties
/Projet/Braze/SegmentPOC/tests/SegmentBackend.Tests/bin/Debug/net8.0
/Projet/Braze/SegmentPOC/tests/SegmentBackend.Tests/obj
/MSK_POC/.vs
/MSK_POC/NotificationService/obj
/MSK_POC/SegmentBackend/obj
/Projet/Braze/MSK_POC/.vs
/Projet/Braze/MSK_POC/NotificationService/obj
/Projet/Braze/MSK_POC/SegmentBackend/obj
/Projet/POC/WPF/InhalerDashboard/.vs
/Projet/POC/WPF/InhalerDashboard/InhalerDashboard/bin/Debug/net7.0-windows
/Projet/POC/WPF/InhalerDashboard/InhalerDashboard/obj
/Projet/POC/WPF/InhalerDashboard/README.md
/Projet/POC/WPF/InhalerDashboard/InhalerDashboard/bin/Debug/net7.0-windows10.0.19041.0
/Projet/POC/HE_ZK/HE_ZK_FullMock/.vs
/Projet/PursuitSim/PursuitSim_v2/.vs
/Projet/PursuitSim/PursuitSim_v2/PursuitSim_v2.Console/bin/Debug/net9.0
/Projet/PursuitSim/PursuitSim_v2/PursuitSim_v2.Console/obj
/Projet/PursuitSim/PursuitSim_v2/PursuitSim_v2.Core/bin/Debug/net9.0
/Projet/PursuitSim/PursuitSim_v2/PursuitSim_v2.Core/obj
/Projet/PursuitSim/PursuitSim_v2/PursuitSim_v2.Web/bin/Debug/net9.0
/Projet/PursuitSim/PursuitSim_v2/PursuitSim_v2.Web/obj
/Projet/POC/Azure-devops-poc/.vs
/Projet/POC/Azure-devops-poc/src/api/obj
/Projet/POC/Azure-devops-poc/src/Api.Tests/obj
/Projet/POC/Azure-devops-poc/tests/obj
/Projet/POC/Braze/MSK_POC/NotificationService/obj
/Projet/POC/Braze/MSK_POC/SegmentBackend/obj/Debug/net8.0
/Projet/POC/Braze/SegmentPOC/src/SegmentBackend/obj
/Projet/POC/Braze/SegmentPOC/tests/SegmentBackend.Tests/obj/Debug/net8.0
/Projet/POC/Grafana/obj/Debug/net8.0
/Projet/POC/Grafana/obj/Release/net8.0
/Projet/POC/Braze/SegmentPOC/tests/SegmentBackend.Tests/obj/Release/net8.0
/Projet/POC/Braze/MSK_POC/SegmentBackend/obj/Release/net8.0
/Projet/Katas/KataBaseProject/.vs
/Projet/Katas/KataBaseProject/obj
/Projet/Katas/KataTests/obj
/Projet/Katas/Cupcake/.vs
/Projet/Katas/Cupcake/KataBaseProject/.vs
/Projet/Katas/Cupcake/KataBaseProject/obj
/Projet/Katas/Cupcake/KataTests/obj
/Projet/Katas/Kata_Base/KataBaseProject/.vs
/Projet/Katas/Kata_Base/KataBaseProject/obj
/Projet/Katas/Kata_Base/KataTests/obj
/Projet/Katas/Cupcake/KataBaseProject/bin/Debug/net8.0
/Projet/Katas/Cupcake/KataTests/bin
/Projet/Katas/Cupcake/Kata_Cupcake/.vs
/Projet/Katas/Cupcake/Kata_Cupcake/bin/Debug/net8.0
/Projet/Katas/Cupcake/Kata_Cupcake/obj
/Projet/Katas/Cupcake/Kata_Cupcake_tests/bin
/Projet/Katas/Cupcake/Kata_Cupcake_tests/obj
/Projet/Katas/Kata_Base/KataBaseProject/bin/Debug/net8.0
/Projet/POC/Azure-devops-poc/src/api/.vs/Api
/Projet/POC/Azure-devops-poc/src/api/bin/Debug/net8.0
